<div class="container">
    <div class="navbar">

<div class="logo">
    <a href=""><img src="assets/img/img9.jpg" width="150px"></a>
</div>
<!-- <li><a href="">Home</a></li> -->
<nav>
    <ul>

<!--     
        <li><a >Doctors</a></li> -->
        <li><a href="/doctor">Are You A Doctor?</a></li>
        <!-- <li><a href="">Admin</a></li> -->
       <li><a href="assets/files/first.html" target="_blank">Doctors</a></li>
        <li><a href="/blog">Animal Info</a></li>
        <li><a routerLink="/login">Login</a></li>
        <li><a routerLink="/register">Sign Up</a></li>
    </ul>
    <div class="topnav">
    <div class="search-container">
        <form action="">
          <label class="one"></label>&nbsp;&nbsp;&nbsp;
          <div>
    
            <select>
                <option>Select The Nearest Location</option>
                <option> Ambegaon</option>
                <option>    Aundh</option>
                <option>    Baner</option>
                <option>    Bavdhan Khurd</option>
                <option>    Bavdhan Budruk</option>
                <option>     Balewadi</option>
                <option>    Bhamburde (now called Shivajinagar)</option>
                <option>   Bibvewadi</option>
                <option>    Bhugaon</option>
                <option>    Bhukum</option>
                <option>    Dhankawadi</option>
                <option>    Dhanori</option>
                <option>    Dhayari</option>
                <option>    Erandwane</option>
                <option>    Fursungi</option>
                <option>    Ghorpadi</option>
                <option>    Hadapsar</option>
                <option>    Hingne Khurd</option>
                <option>    Karve Nagar</option>
                <option>   Kalas</option>
                <option>    Katraj</option>
                <option>    Khadki</option>
                <option>    Kharadi</option>
                <option>    Kondhwa</option>
                <option>    Koregaon Park</option>
                <option>   Kothrud</option>
                <option>    Manjri</option>
                <option>    Markal</option>
                <option>    Mohammed Wadi</option>
                <option>    Mundhwa</option>
                <option>    Nanded</option>
                <option>   Parvati</option>
                <option>    Panmala</option>
                <option> Pashan</option>
                <option>  Pirangut</option>
                <option>  Shivane</option>
                <option>   Sus</option>
                <option>  Undri</option>
                <option>   Vishrantwadi</option>
                <option>  Vitthalwadi</option>
                <option>  Vadgaon Khurd</option>
                <option>  Vadgaon Budruk</option>
                <option>    Wadgaon Sheri</option>
                <option>   Wagholi</option>
                <option>   Wanowrie</option>
                <option>   Warje</option>
                <option>   Yerwada</option>
            </select>
            &nbsp;
            <button type="submit">Search</button>
        </div>
          <!-- <button type="submit">Submit</button> -->
        </form>
      </div>
    </div>
</nav>
</div>
</div>