<!DOCTYPE html>
<html>
    <head>
        <title>
            Design Veternary Page
        </title>
        <link rel="stylesheet" href="homepage.component.css">

    </head>

    

    
            
           
       

        <div></div>
    <body>
        <!-- <a routerLink="/header">Header</a> -->
        <br/><br/><br/>
        <div class="mainbar">
        </div>
        
        <br/><br/><br/><br/><br/><br/>
        <br/><br/><br/><br/>
    <div>
            
            
    </div>
        
            
    </body>
</html>